function World.new 2
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 12
push constant 23
call Math.multiply 2
call Array.new 1
pop this 0
push constant 0
pop local 0
label label1.while_start
push local 0
push constant 12
lt
if-goto label1.while
goto label1.while_end
label label1.while
push pointer 0
push local 0
push constant 22
call World.registerCell 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto label1.while_start
label label1.while_end
push constant 0
pop local 1
label label2.while_start
push local 1
push constant 23
lt
if-goto label2.while
goto label2.while_end
label label2.while
push pointer 0
push constant 0
push local 1
call World.registerCell 3
pop temp 0
push pointer 0
push constant 11
push local 1
call World.registerCell 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto label2.while_start
label label2.while_end
push pointer 0
return
function World.dispose 0
push this 0
call Array.dispose 1
pop temp 0
push constant 0
return
function World.newInstance 0
call World.new 0
pop static 0
push constant 0
return
function World.getInstance 0
push static 0
return
function World.destroyLines 8
push argument 0
pop pointer 0
push constant 22
call Array.new 1
pop local 4
push constant 0
pop local 5
push constant 0
pop local 7
push constant 21
push constant 12
call Math.multiply 2
push constant 10
add
pop local 2
push constant 21
pop local 1
label label6.while_start
push local 1
push constant 1
gt
if-goto label6.while
goto label6.while_end
label label6.while
push constant 10
pop local 0
push constant 1
neg
push local 1
push local 4
add
pop pointer 1
pop that 0
label label4.while_start
push local 0
push constant 0
gt
if-goto label4.while
goto label4.while_end
label label4.while
push local 2
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
if-goto label3.if
goto label3.if_end
label label3.if
push constant 0
push local 1
push local 4
add
pop pointer 1
pop that 0
label label3.if_end
push local 2
push constant 1
sub
pop local 2
push local 0
push constant 1
sub
pop local 0
goto label4.while_start
label label4.while_end
push local 1
push local 4
add
pop pointer 1
push that 0
if-goto label5.if
goto label5.if_end
label label5.if
push constant 1
neg
pop local 5
push local 7
push constant 1
add
pop local 7
label label5.if_end
push local 2
push constant 2
sub
pop local 2
push local 1
push constant 1
sub
pop local 1
goto label6.while_start
label label6.while_end
push local 5
not
if-goto label7.if
goto label7.if_end
label label7.if
push local 4
call Array.dispose 1
pop temp 0
push constant 0
return
label label7.if_end
push pointer 0
call World.redraw 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 21
push constant 12
call Math.multiply 2
push constant 10
add
pop local 2
push constant 21
pop local 1
label label10.while_start
push local 1
push constant 1
gt
if-goto label10.while
goto label10.while_end
label label10.while
push local 1
push local 4
add
pop pointer 1
push that 0
if-goto label9.if
push local 2
push constant 11
sub
pop local 2
goto label9.if_end
label label9.if
push constant 10
pop local 0
label label8.while_start
push local 0
push constant 0
gt
if-goto label8.while
goto label8.while_end
label label8.while
push constant 0
push local 2
push this 0
add
pop pointer 1
pop that 0
push local 2
push constant 1
sub
pop local 2
push local 0
push constant 1
sub
pop local 0
goto label8.while_start
label label8.while_end
push local 2
push constant 2
sub
pop local 2
label label9.if_end
push local 1
push constant 1
sub
pop local 1
goto label10.while_start
label label10.while_end
push pointer 0
call World.redraw 1
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
push constant 0
push local 4
add
pop pointer 1
pop that 0
push constant 0
push constant 1
push local 4
add
pop pointer 1
pop that 0
push constant 21
push constant 12
call Math.multiply 2
push constant 10
add
pop local 2
push constant 21
pop local 1
push constant 0
pop local 3
label label17.while_start
push local 1
push constant 0
lt
not
if-goto label17.while
goto label17.while_end
label label17.while
push constant 0
pop local 6
label label13.while_start
push local 6
not
if-goto label13.while
goto label13.while_end
label label13.while
push local 1
push local 3
sub
push constant 0
lt
if-goto label12.if
push local 1
push local 3
sub
push local 4
add
pop pointer 1
push that 0
not
if-goto label11.if
push local 3
push constant 1
add
pop local 3
goto label11.if_end
label label11.if
push constant 1
neg
pop local 6
label label11.if_end
goto label12.if_end
label label12.if
push constant 1
neg
pop local 6
label label12.if_end
goto label13.while_start
label label13.while_end
push local 1
push local 3
sub
push constant 0
lt
not
if-goto label16.if
push constant 10
pop local 0
label label15.while_start
push local 0
push constant 0
gt
if-goto label15.while
goto label15.while_end
label label15.while
push constant 0
push local 2
push this 0
add
pop pointer 1
pop that 0
push local 2
push constant 1
sub
pop local 2
push local 0
push constant 1
sub
pop local 0
goto label15.while_start
label label15.while_end
push local 2
push constant 2
sub
pop local 2
goto label16.if_end
label label16.if
push constant 10
pop local 0
label label14.while_start
push local 0
push constant 0
gt
if-goto label14.while
goto label14.while_end
label label14.while
push local 2
push local 3
push constant 12
call Math.multiply 2
sub
push this 0
add
pop pointer 1
push that 0
push local 2
push this 0
add
pop pointer 1
pop that 0
push local 2
push constant 1
sub
pop local 2
push local 0
push constant 1
sub
pop local 0
goto label14.while_start
label label14.while_end
push local 2
push constant 2
sub
pop local 2
label label16.if_end
push local 1
push constant 1
sub
pop local 1
goto label17.while_start
label label17.while_end
push pointer 0
call World.redraw 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push local 7
return
function World.redraw 3
push argument 0
pop pointer 0
call MainWindow.clear 0
pop temp 0
push constant 2
push constant 12
call Math.multiply 2
push constant 1
add
pop local 2
push constant 2
pop local 1
label label20.while_start
push local 1
push constant 22
lt
if-goto label20.while
goto label20.while_end
label label20.while
push constant 1
pop local 0
label label19.while_start
push local 0
push constant 11
lt
if-goto label19.while
goto label19.while_end
label label19.while
push local 2
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto label18.if
goto label18.if_end
label label18.if
push local 0
push local 1
call MainWindow.drawCell 2
pop temp 0
label label18.if_end
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto label19.while_start
label label19.while_end
push local 2
push constant 2
add
pop local 2
push local 1
push constant 1
add
pop local 1
goto label20.while_start
label label20.while_end
push constant 0
return
function World.registerCell 0
push argument 0
pop pointer 0
push constant 1
push constant 12
push argument 2
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
pop that 0
push constant 0
return
function World.isEmpty 0
push argument 0
pop pointer 0
push constant 12
push argument 2
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
return