function World.new 2
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 12
push constant 23
call Math.multiply 2
call Array.new 1
pop this 0
push constant 0
pop local 0
label label1.while_start
push local 0
push constant 12
lt
if-goto label1.while
goto label1.while_end
label label1.while
push pointer 0
push local 0
push constant 22
call World.registerCell 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto label1.while_start
label label1.while_end
push constant 0
pop local 1
label label2.while_start
push local 1
push constant 23
lt
if-goto label2.while
goto label2.while_end
label label2.while
push pointer 0
push constant 0
push local 1
call World.registerCell 3
pop temp 0
push pointer 0
push constant 11
push local 1
call World.registerCell 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto label2.while_start
label label2.while_end
push pointer 0
return
function World.dispose 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function World.newInstance 0
call World.new 0
pop static 0
push constant 0
return
function World.getInstance 0
push static 0
return
function World.registerCell 0
push argument 0
pop pointer 0
push constant 1
push constant 12
push argument 2
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
pop that 0
push constant 0
return
function World.isEmpty 0
push argument 0
pop pointer 0
push constant 12
push argument 2
call Math.multiply 2
push argument 1
add
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
return